/*skills*/
.skills{
    padding:100px 15px;
    background-color: #f5f8fd;
}
.skills .skills-content{
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 40px;

}
.skills .img{
   
    flex: 0 0 50%;
    max-width: 50%;
}
.skills .img img{
    width: 100%;
    display: block;
    
    
}
.skills .skills-content .section-title ul {
    font-size: 16px;
    font-weight:400 ;
    line-height: 26px;
    color: #838383;
    margin: 15px 0 20px;
    
}
.skills .skills-content .skill-box{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.skills .skills-content .skill-box h6{
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 0 0 0px;
}
.skills .skills-content .skill-box .skill-bar{
    height: 4px;
    background-color: #eeeeee;
    position: relative;
}
.skills .skills-content .skill-box .skill-bar .skill-bar-in{
    background-color: #D2B96D;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.skills .skills-content .skill-box .skill-bar .skill-bar-in span{
    color: #838383;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -18px;
}