@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap&subset=latin-ext');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1800px;
   
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

header{
    
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 0 15px;
    z-index: 11;
    top: 0;
    position: sticky;
    background-color: #121212;
    animation: fixHeader .5s ease;
        
}
@keyframes fixHeader{
    0%{
        transform: translateY(-100%)
    }
    100%{
        transform: translateY(0%);
    }
}

header .row{
    justify-content: space-between;
    align-items: right;
}
header .brand-name a{
font-family: 'Great Vibes', cursive;
text-decoration: none;
font-size: 26px;
font-weight: 600;
color:#D2B96D ;
letter-spacing: 1px;
position: relative;
float: left;
bottom: -49px;

}
header .brand-name a::before{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #D2B96D;
    position: absolute;
    bottom: -5px;
    right: 0;
}

header .navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header .navbar ul li{
    display: inline-block;
    margin-left: 88px;
} 
header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color:#D2B96D;
    font-weight: 600;
    position: relative;
    display: block;

}   
header .navbar ul li a::before{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #D2B96D;
    position: absolute;
    bottom: 4px;
    right: 0;
    transition: all 0.4s ease;
    
}
header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
}